---
layout: default
title: RNAseq course.
description: A full course covering best practices for RNAseq data analysis, with a primary focus on empowering students to be independent in the use of lightweight and open-source software and the R/bioconductor environment.
featured_image: '/images/network_white.jpg'
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Welcome to DIY Transcriptomics</h1>
		<p>A semester-long course covering best practices for the analysis of high-throughput sequencing data from gene expression (RNA-seq) studies, with a primary focus on empowering students to be independent in the use of lightweight and open-source software using the R programming language and the Bioconductor suite of packages.  This course follows a hybrid format in which online lectures are paired with in-person labs where students participate in hands-on, live coding exercises using real ‘omic datasets. The course is focused on datasets and topics central to infectious disease research, immunology, and One-Health, but the concepts and approaches covered are applicable to any genomic study.</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>