
{% for author in page.authors %}
    {% for person in site.data.people %}
        {% if author == person.alias %}
{{  author ==  page.authors | first}}
        <div class="page-author">
            <div class="page-author-info">
              <h3>{% if author == page.authors[0] %}
                        <span class="person-role">a post by</span>
                  {% elsif author == page.authors[-1] %}
                        <span class="person-role">and</span>{% endif %}
                {{ person.name }}</h3>
                <div class="page-author-social-box">
                  {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i>Web</a>{% endif %}
                  {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
                  {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i>Twitter</a>{% endif %}
                  {% if person.google.plus %}<a href="http://plus.google.com/+{{ person.google.plus }}" class="person-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i>Google+</a>{% endif %}
                  {% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a>{% endif %}
                  {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i>Github</a>{% endif %}
                  {% if person.stackoverflow %}<a href="http://stackoverflow.com/users/{{ person.stackoverflow }}" class="person-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i>Stackoverflow</a>{% endif %}
                  {% if person.youtube %}<a href="https://youtube.com/user/{{ person.youtube }}" class="person-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i>Youtube</a>{% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
