<span class="mission">
As access to high throughput technology increases, the bottle-neck in biomedical research has shifted from generating data, to analyzing and integrating diverse data types.  Addressing these needs requires that students and postdocs equip themselves with powerful tools for data mining and interrogation.  This course focuses specifically on studying global gene expression (transcriptomics) through the use of the R programming environment and the bioconductor suite of bioinformatics packages -- a versatile and robust collection tools for statistics and graphics.  Students work with real datasets and will carry out all aspects of data analysis on their laptop.  

Fill out <a href="https://goo.gl/forms/pJuAQR0eBbMPxWGn2">this form</a> if you would like to be considered for the next offering of the course in Spring 2018.  We meet Wednesdays, from 3-5pm in Hill 234 located in the <a href="http://www.vet.upenn.edu">School of Veterinary Medicine</a> at <a href="http://www.upenn.edu">The University of Pennsylvania</a>.
</span>

