<div class="people">
{% for person in site.data.people %}
<div class="person">
    <div class="person-photo">
    {% if person.avatar contains 'http' %}
    	<img src="{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
    {% else %}
    	<img src="{{ site.url }}/images/{{ person.avatar }}" class="person-photo-img" alt="{{ person.name }} bio photo">
    {% endif %}
    </div>

    <div class="person-info">
      <h3>{{ person.name }} <span class="person-role"> :: {{ person.role  }}</span></h3>
        <div class="social-box">
          {% if person.web %}<a href="{{ person.web }}" class="person-social" target="_blank"><i class="fa fa-fw fa-home"></i> Web</a>{% endif %}
          {% if person.email %}<a href="mailto:{{ person.email }}" class="person-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i>Email</a>{% endif %}
          {% if person.twitter %}<a href="http://twitter.com/{{ person.twitter }}" class="person-social" target="_blank"><i class="fa fa-fw fa-twitter-square"></i> Twitter</a>{% endif %}
          {% if person.google.plus %}<a href="http://plus.google.com/+{{ person.google.plus }}" class="person-social" target="_blank"><i class="fa fa-fw fa-google-plus-square"></i> Google+</a>{% endif %}
          {% if person.linkedin %}<a href="http://linkedin.com/in/{{ person.linkedin }}" class="person-social" target="_blank"><i class="fa fa-fw fa-linkedin-square"></i> LinkedIn</a>{% endif %}
          {% if person.github %}<a href="http://github.com/{{ person.github }}" class="person-social" target="_blank"><i class="fa fa-fw fa-github"></i> Github</a>{% endif %}
          {% if person.stackoverflow %}<a href="http://stackoverflow.com/users/{{ person.stackoverflow }}" class="person-social" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i> Stackoverflow</a>{% endif %}
          {% if person.youtube %}<a href="https://youtube.com/user/{{ person.youtube }}" class="person-social" target="_blank"><i class="fa fa-fw fa-youtube-square"></i> Youtube</a>{% endif %}
          {% if person.address %}<br /><span class="person-social"><i class="fa fa-fw fa-map-marker"></i>Adress: {{ person.address  }}</span>{% endif %}
          {% if person.phone %}<br /><span class="person-social"><i class="fa fa-fw fa-phone"></i>Phone: {{ person.phone }}</span>{% endif %}
          {% if person.fax %}<span class="person-social"><i class="fa fa-fw fa-fax"></i>Fax: {{ person.fax }}</span>{% endif %}

        </div>
      <p>{{ person.bio }}</p>
    </div>

</div>
{% endfor %}
</div>
