/* ==========================================================================
   Typography
   ========================================================================== */

/* 
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}
h1 {
	@include font-size(32);
}
h2 {
	@include font-size(28);
}
h3 {
	@include font-size(24);
}
h4 {
	@include font-size(18);
}
h5 {
	@include font-size(16);
}
h6 {
	@include font-size(14);
}

#articlecontent h2 {
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    border-bottom: 1px solid #AAA;
    background: url('../../images/fractal.jpg') center center scroll;
}

#articlecontent h3 {
    padding: 0em;
}

#articlecontent a {
    color: #444499;
    text-decoration: none;
}

#table-of-contents a {
    color: white;
}

#articlecontent p {
    text-align: justify;
}


#articlecontent img {
    border: 10px solid #EEE;
    border-radius: 10px;
}

/* 
   Links
   ========================================================================== */

a { 
	text-decoration: none;
	color: $link-color; 
	&:visited { 
		color: $linkcolorvisited; 
	}
	&:hover { 
		color: $linkcolorhover; 
	}
	&:focus { 
		outline: thin dotted; 
		color: $linkcolorfocus;
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

/* 
   Figure captions
   ========================================================================== */

figcaption {
	padding-top: 10px;
	@include font(14);
	line-height: 1.3;
	color: lighten($text-color, 10);
}

/* 
   Feature image captions
   ========================================================================== */

.image-credit {
	@include grid(12,10);
	@include prefix(12,1);
	@include suffix(12,1);
	display: block;
	text-align: right;
	@include font(12);
	line-height: 1.3;
	font-style: italic;
	color: lighten($text-color, 30);
	@media #{$small} {
		@include grid(12,9);
		@include prefix(12,0);
		@include suffix(12,0);
	}
	@media #{$x-large} {
		@include grid(12,8.5);
	}
	a {
		color: lighten($text-color, 30);
	}
}

/* 
   Notices
   ========================================================================== */

.notice {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	padding: .5em;
    text-align: justify;
	text-indent: 0;
	@include font-rem(14);
	background-color: #FFFFCC;
	border: 1px solid darken($body-color,20);
	@include rounded(3px);
}

/* 
   Blockquotes
   ========================================================================== */

blockquote{
  display:block;
  background: #f5f5f5;
  padding: 20px 20px 0px 60px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 16px;
  line-height: 1.2;
  color: #101010;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #929292;
  border-right: 2px solid #929292;
  
  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 90px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 5px;
  top: 0px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

.blockquote-author {
    text-align: right;
    font-size: larger;
    display: block;
    border-top: 1px #BFBFBF solid;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-variant: small-caps;
    color: #222;
}

/* 
   Footnotes
   ========================================================================== */

.footnotes {
	ol, li, p {
		margin-bottom: 0;
		@include font-rem(14);
	}
}

/* 
   Paragraphs
   ========================================================================== */

p {
	margin: 0 0 $indent-var;
	// sibling indentation
  @if $paragraph-indent == true {
    & + p {
			text-indent: $indent-var;
			margin-top: -($indent-var);

		}
	}
}

/* 
   Code snippets
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}
p,
li { 
	code {
		@include font-rem(12);
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten($black, 90);
		background-color: #efefef;
		@include rounded(3px);
	}
}
pre {
	@include font-rem(12);
	line-height: 1.5;
	overflow-x: auto;
    background-color: #EEE;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #DDD;
    border-left: 5px solid #BBB;
    border-radius: 5px;
}
