<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _left-panel.html %}
</div>

<div id="index">

<div class="category-box">
    {% assign tags_list = site.categories %}  
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %} 
          <a href="#{{ tag }}"><span class="category-item">{{ tag | capitalize }} ({{ site.tags[tag].size }})</span></a></li>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %} 
          <a href="#{{ tag[0] }}"><span class="category-item">{{ tag[0] | capitalize }} ({{ tag[1].size }})</span></a></li>
        {% endfor %}
      {% endif %}
    {% assign tags_list = nil %}
</div>

{% for tag in site.categories %} 
{% assign t = tag | first %}  
    <a name="{{ tag | first }}">&nbsp;</a>
    <h3>{{ tag | first | capitalize }} <small><a href="#top">[top]</a></small></h3>
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <article>
          <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <small>({{ post.date | date: "%a, %b %d, %Y" }})</small></h2>
          <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
      </article>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
{% endfor %}

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
